header{
    margin-bottom: 20px;
}

.pattern{ 
    background-image: url(img/pattern.png);
    height: 70px;
    background-color:rgba(77,161,255,255);
     
}

.logo{
   
    width: 180px;
}


.title{
    color: white;
    background-color: rgba(26,171,230,255);    
}

.first{
    color:black;
    background-color:rgba(178,230,242,255);
}

.footer1{
    margin-bottom: 20px;
}

.footer2{
    margin-bottom: 20px;
    
}