header{
    margin-bottom: 20px;
}

.pattern{ 
    background-size: 150px 80px;
    background-color:rgba(77,161,255,255);
     
    
}

.logo{
    width: 180px;
}


.title{
    color: white;
    background-color: rgba(26,171,230,255);    
}

.first{
    color:black;
    background-color:rgba(178,230,242,255);
}

.footer1{
    margin-bottom: 20px;
}

.footer2{
    margin-bottom: 20px;
}